RewriteEngine On

# If the file or directory exists as-is
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Everything else goes to index.php
RewriteRule ^ index.php [QSA,L]